#catList
{
   
    max-width: 100%;
    height: auto;
    overflow: auto;
}


#catListIteam
{
       border: 1px solid rgba(0,0,0,.125);
       border-radius: 5px;
     max-width: 100%;
     overflow: auto;
   min-height: 10px;
   word-break: break-all;
   margin: 2px;
   padding: 10px
}
#catListIteam:hover
{
background-color:blue;
color: white
}